# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Fabrika Demo.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\Test\Fabrika Demo\.idea\.idea.Fabrika Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
